@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tùy chỉnh thanh cuộn cho toàn bộ trang */
::-webkit-scrollbar {
  width: 4px; /* Chiều rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của track */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #b7b7b7; /* Màu của thanh cuộn */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999999; /* Màu khi hover trên thanh cuộn */
}
